/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> .uagb-block-f1dbbe97-5bda-41d1-b78c-f0eae792019a .uagb-buttons-repeater **/
.uagb-block-f1dbbe97-5bda-41d1-b78c-f0eae792019a .uagb-buttons-repeater {
	
}

/** Geral >> .uagb-block-f1dbbe97-5bda-41d1-b78c-f0eae792019a a **/
.uagb-block-f1dbbe97-5bda-41d1-b78c-f0eae792019a a {
	
}

/** Geral >> .uagb-block-b2d07741-5abe-4cc5-973f-43b7de633946 a **/
.uagb-block-b2d07741-5abe-4cc5-973f-43b7de633946 a {
	
}

/** Geral >> .main-header-bar > div **/
.main-header-bar > div {
	background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) !important;
}

/** Geral >> .wpforms-field-name label **/
.wpforms-field-name label {
	
}

/** Geral >> .page label **/
.page label {
	
}

/** Geral >> .wpforms-field-label **/
.wpforms-field-label {
	
}

/** Geral >> Wpforms 283 field 0 container wpforms field label **/
#wpforms-283-field_0-container > .wpforms-field-label {
	
}

/** Geral >> Wpforms form 283 wpforms field label **/
#wpforms-form-283 .wpforms-field-label {
	color: rgb(1, 1, 1) !important;
}

/** Geral >> Wpforms submit 283 **/
#wpforms-submit-283 {
	
}

/** Geral >> Wpforms submit 283 _2 **/
#wpforms-submit-283 {
	
}

/** Geral >> #wpforms-submit-283 **/
#wpforms-submit-283 {
	
}

/** Geral >> Wpforms submit 283 _3 **/
#wpforms-submit-283 {
	border-radius: 2px !important;
}

/** Geral >> Wpforms submit 283 _4 **/
#wpforms-submit-283 {
	color: rgb(255, 255, 255) !important;
	text-align: center !important;
	letter-spacing: 2px !important;
	background-image: linear-gradient(rgb(26, 115, 232), rgb(26, 115, 232)) !important;
	padding: 10px 25px 10px 25px !important;
	border-radius: 25px !important;
}

